*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    font-family: monospace;
}
h1{
    color: cyan;
    text-align: center;
    font-size: 45px;
    letter-spacing: 6px;
    -webkit-text-stroke: 3px #383d52;
}
h1::before{
    content: "LogIn";
    position: absolute;
    -webkit-text-stroke: 0px #1f42ca;
    overflow: hidden;
    /*color: rgb(26, 228, 19);*/
    color: lime;
    border-right: 2px solid #fafafa;
    animation: animate 4s alternate-reverse infinite;
}

@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 37%;
    }
}
.box{
    width: 386px;
    padding: 40px;
    border: 4px solid rgb(7, 114, 114);
    border-image-slice: 1;
    position: relative;
    top: 204px;
    left: 50%;
    margin-top: 66px;
    margin-bottom: 150px;
    transform: translate(-50%,-50%);
    transition: 0.4s ease-in;


}
.box:hover{
    border: 4px solid hotpink;
}
.box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    box-shadow: 3px -3px 18px 24px green;
    background: red;
    border-radius: 50%;
    animation: box_animate 5s forwards infinite;
}



.username,.password{
    background: none;
    display: block;
    margin: 20px auto;
    height: 50px;
    text-align: center;
    border: 2.5px solid cyan;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s ease-in;
}
.username:focus,.password:focus{
    border: 2.5px solid lime;
    width: 220px;
}
.submit{
    background: none;
    outline: none;
    border: 2px solid cyan;
    padding: 12px 45px;
    margin: 1px 84px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: cyan;
    font-weight:bold;
    transition: 0.3s ease-in;

}
.submit:hover{
    background: cyan;
    outline: none;
    border: 2px solid lime;
    transform: scale(1.1);
    color: black;
}
.loggg{
    position: relative;
    left: -30px;
    top: -294px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}